<header>
  <div class="header-logo">
    <a href="/">Top</a>
  </div>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>Key Checker Pro</h2>
  </div>



  <ul class="contents">
    <li>
     <a href="/keycheck">Check Key</a>
    </li>
    <li>
      <a href="/songlist">Song List</a>
    </li>
  </ul>



</div>
