<header>
  <div class="header-logo">
    <a href="/">Top</a>
  </div>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>Key Check</h2>
    <h6><%= @test %></h6>
  </div>
</div>