<header>
  <div class="header-logo">
    <a href="/">Top</a>
  </div>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>Song List</h2>
    <h3 class="dev_message">開発中</h3>
  </div>
</div>
